# 設定の参考にしたプロジェクト
# angular.js/.editorconfig at master · angular/angular.js
# https://github.com/angular/angular.js/blob/master/.editorconfig
# bootstrap/.editorconfig at master · twbs/bootstrap
# https://github.com/twbs/bootstrap/blob/master/.editorconfig
# cakephp/.editorconfig at master · cakephp/cakephp
# https://github.com/cakephp/cakephp/blob/master/.editorconfig
# jquery/.editorconfig at master · jquery/jquery
# https://github.com/jquery/jquery/blob/master/.editorconfig
# symfony/.editorconfig at master · symfony/symfony
# https://github.com/symfony/symfony/blob/master/.editorconfig

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.cs]
indent_style = space
indent_size = 4

[*.php]
indent_style = space
indent_size = 4

[*.html]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

[package.json]
indent_style = space
indent_size = 2

[*.bat]
end_of_line = crlf
