[user]
  email = solidpeat@gmail.com
  name = solidpeat
[color]
  ui = auto
[alias]
  st = status -sb
  lg = log -i --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %C(green)%ci(%cr)%Creset %C(blue bold)<%an>%Creset%n%n%w(120, 2)%C(white reverse)%s%Creset%n%n%w(120, 2, 2)%b'
  lgl = log -i --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %C(green)%ci(%cr)%Creset %C(blue bold)<%an>%Creset%n%n%w(120, 2)%C(white reverse)%s%Creset%n%n%w(120, 2, 2)%b' --name-status
  lgs = log -i --pretty=format:'%C(yellow reverse)%h%Creset -%C(red)%d%Creset %s %C(green)%ci(%cr)%Creset %C(blue bold)<%an>%Creset'
  ls = ls-files
  shows = show --stat-width=800
  diffc = diff --cached
  delete-merged-branches = !git branch --merged | grep -vE '\\*|master|develop' | xargs git branch -d
[pager]
  log = diff-highlight | less -x2
  show = diff-highlight | less -x2
  diff = diff-highlight | less -x2
  blame = diff-highlight | less -x2
[core]
  editor = vim
  excludesfile = ~/dotfiles/.gitignore_global
  attributesfile = ~/dotfiles/.gitattributes_global
[push]
  default = simple
[merge]
  tool = vimdiff
  ff = false
[pull]
  ff = only
[diff "xlsx"]
  binary = true
  textconv = $GOPATH/bin/git-xlsx-textconv
